<div class='card col-6 m-3'>
  <h4 class='card-header'>
    機器人回覆
  </h4>
  <div class='card-body'>
    <h5 class='card-title'>{{this.response}}</h5>
    <a href='#' class='btn btn-primary mt-3'>編輯</a>
  </div>
</div>