{{#each steps}}
  {{#if this.intent}}
    <div class="d-flex justify-content-start">
      {{> admin-userStep}}
    </div>
  {{else}}
    <div class="d-flex justify-content-end">
      {{> admin-botStep userId=../userId storyName=../storyName}}
    </div>
  {{/if}}
{{/each}}