{{#each steps}}
  {{#if this.intent}}
    <div class="d-flex justify-content-start">
      {{> userStep userId=../userId storyName=../storyName role="admin"}}
    </div>
  {{else}}
    <div class="d-flex justify-content-end">
      {{> botStep userId=../userId storyName=../storyName role="admin"}}
    </div>
  {{/if}}
{{/each}}