<div class='mb-4 text-center'>
  <h1 class='h3 font-weight-normal mb-3'>新增故事</h1>
</div>
<div class='mb-4 text-center'>
  <button type='button' class='btn btn-info' id='userStepBtn'>使用者</button>
  <button type='button' class='btn btn-warning' id='botStepBtn'>機器人</button>
</div>
<hr />
{{#if user.isAdmin}}
  <div class='form-row mb-3'>
    <h5 class='form-label' for='userId'>使用者名稱</h5>
    <select class='form-control' name='userId' id='userId' required>
      <option value='' selected disabled>請選擇使用者</option>
      {{#each users}}
        {{#ifNot this.cpnyName 'admin'}}
          <option value='{{this.id}}' {{#ifCond this.id ../userId}} selected {{/ifCond}}>
            {{this.cpnyName}}
          </option>
        {{/ifNot}}
      {{/each}}
    </select>
  </div>
{{/if}}
<div class='form-row mb-3'>
  <h5 class='form-label' for='storyName'>故事名稱</h5>
  <input 
    class='form-control'
    type='text'
    name='storyName'
    id='storyName'
    placeholder='請輸入故事名稱'
    value='{{storyName}}'
    style="font-size: 1.25rem;"
    required
  />
</div>

{{!-- render step --}}
<div class="form-row mb-3 step-panel"></div>