<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">
        英特內軟體股份有限公司 版權所有
        <br>
        Copyright © Internet Information Co., Ltd. All rights reserved.
        <br>
        1996 - {{currentYear}}
    </span>
  </div>
</footer>