<form action='/stories' method='POST' id='createStoryForm'>
  {{> create-story-form}}
  <div class="d-flex justify-content-end">
    <a href="/stories" class='btn btn-secondary me-md-2'>返回</a>
    <button type='submit' class='btn btn-primary'>送出</button>
  </div>
</form>