<div class='mb-4 text-center'>
  <h1 class='h3 font-weight-normal mb-3'>帳號註冊</h1>
</div>
<form class='form-signup' action='/signup' method='POST' style='width: 100%;'>
  <div class='form-row mb-3'>
    <label class='form-label' for='cpnyId'>公司代號</label>
    <input
      type='text'
      id='cpnyId'
      name='cpnyId'
      class='form-control'
      placeholder='公司代號'
      autocomplete='off'
      required
      autofocus
    />
  </div>
  <div class='form-row mb-3'>
    <label class='form-label' for='cpnyName'>公司名稱</label>
    <input
      type='text'
      id='cpnyName'
      name='cpnyName'
      class='form-control'
      placeholder='公司名稱'
      autocomplete='off'
      required
    />
  </div>
  <div class='form-row mb-3'>
    <label class='form-label' for='email'>Email</label>
    <input
      type='text'
      id='email'
      name='email'
      class='form-control'
      placeholder='Email'
      autocomplete='off'
      required
    />
  </div>
  <div class='form-row mb-3'>
    <label class='form-label' for='password'>密碼</label>
    <input
      type='password'
      id='password'
      name='password'
      class='form-control'
      placeholder='Password'
      autocomplete='off'
      required
    />
  </div>
  <div class='form-row mb-3'>
    <label class='form-label' for='passwordCheck'>確認密碼</label>
    <input
      type='password'
      id='passwordCheck'
      name='passwordCheck'
      class='form-control'
      placeholder='Password Check'
      autocomplete='off'
      required
    />
  </div>
  <button class='btn btn-primary btn-block' type='submit'>送出</button>
</form>
<div class='mb-4 text-center'>
  <p><a href='/signin'>Sign In</a></p>
</div>