<h1>故事流程</h1>

<hr />
<div class='row mt-3'>
  {{#each stories}}
    <div class='col-md-4'>
      <div class='card mb-4 shadow-sm text-center'>
        <div class='card-body'>
          <h5 class='card-title'>{{this.story}}</h5>
        </div>
        <div class='card-footer'>
          <a href='/stories/{{this.story}}' class='btn btn-primary'>查看</a>
          {{#ifNot this.story '問候語'}}
            <a href='#' class='btn btn-danger'>刪除</a>
          {{/ifNot}}
        </div>
      </div>
    </div>
  {{/each}}
</div>