  <div class="d-flex justify-content-between align-items-end">
    <h3><strong>{{story.story}}</strong></h3>
    {{#ifNot story.story '問候語'}}
      <button
        type='button'
        class='btn btn-danger mt-5'
        data-bs-toggle='modal'
        data-bs-target='#deleteStoryModal'
      >
        刪除故事
      </button>
    {{/ifNot}}
  </div>
  <hr />
    {{> storySteps userId=user.id storyName=story.story steps=story.steps}}
  <hr />
  <div class="d-flex justify-content-center">
    <a href="/stories" class="btn btn-secondary btn-block col-2">返回</a>
  </div>
