  <div class="d-flex justify-content-between align-items-end">
    <h3><strong>{{story.story}}</strong></h3>
  </div>
  <hr />
    {{> storySteps userId=user.id storyName=story.story steps=story.steps}}
  <hr />
  <div class="d-flex justify-content-center">
    <a href="/stories" class="btn btn-secondary btn-block col-2">返回</a>
  </div>
