<form
  class='mt-4'
  action='/users/{{user.id}}?_method=PUT'
  method='POST'
  style='width: 100%;'
  enctype='multipart/form-data'
>
  <div class='form-row mb-3'>
    <label class='form-label' for='chatbotName'>機器人名稱</label>
    <input
      type='text'
      id='chatbotName'
      name='chatbotName'
      value='{{user.chatbotName}}'
      class='form-control'
      placeholder='請輸入機器人名稱'
      required
      autofocus
    />
  </div>
  <div class='form-row mb-3'>
    <label class='form-label' for='image'>機器人頭像</label>
    <input class='form-control' type='file' class='form-control-file' id='image' name='image' />
  </div>
  <button class='btn btn-primary btn-block' type='submit'>Submit</button>
</form>